/*
 * Conqsh - main.css
 *
 * Holds the CSS for the app.
 *
 * Author: Brad Cable
 * Email: brad@bcable.net
 * License: Modified BSD
 * License Details:
 * http://bcable.net/license.php
 *
 */

/* Global {{{ */

body, form {
	margin: 0px;
	padding: 0px;
}

input {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	padding: 2px;
}

/* }}} */

/* Strip Bar {{{ */

div#strip_bar {
	clear: both;
	float: left;
	width: 100%;
	height: 18px;
	margin: 0px;
	padding: 0px;
	border-bottom: 2px solid #000000;
}

div#root_button, div#local_button {
	float: left;
	width: 18px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border-right: 2px solid #000000;
}

div#root_button a, div#local_button a {
	float: left;
	width: 18px;
	height: 100%;
}

div#root_button a:hover, div#local_button a:hover {
	background-color: #D0D0D0;
	cursor: pointer;
}

div#winbar {
	font-family: bitstream vera sans mono, courier new;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
}

div#winbar_leftbtn, div#winbar_rightbtn {
	display: none;
	height: 100%;
	width: 10px;
	line-height: 18px;
	padding-right: 4px;
	background-color: #E8E8E8;
}
div#winbar_leftbtn {
	float: left;
	border-right: 1px solid #000000;
}
div#winbar_rightbtn {
	float: right;
	border-left: 1px solid #000000;
}

div#winbar_leftbtn a, div#winbar_rightbtn a {
	float: left;
	width: 10px;
	height: 100%;
	padding: 0px 2px 0px 2px;
}

div#winbar_leftbtn a:hover, div#winbar_rightbtn a:hover {
	background-color: #D0D0D0;
	cursor: pointer;
}

div#winbar a.window {
	padding: 4px;
	line-height: 18px;
	white-space: nowrap;
	color: #000000;
	border-right: 1px solid #808080;
}

a#rootwin {
	padding: 4px;
	line-height: 18px;
	white-space: nowrap;
	color: #A00000;
	border-right: 1px solid #808080;
}

a#rootwin:hover, a.window:hover {
	background-color: #D0D0D0;
	cursor: pointer;
}

a.selected {
	background-color: #E8E8E8;
	font-weight: bold;
}

div#time_box {
	background-color: #FFFFFF;
	border-left: 2px solid #000000;
	float: right;
	height: 100%;
	line-height: 18px;
	padding: 0px 4px 0px 4px;
}

/* }}} */

/* Cmd Line {{{ */

div#cmdline {
	clear: both;
	float: left;
	width: 100%;
	margin: 0px;
	border-bottom: 2px solid #000000;
}

div#cmdline font {
	float: left;
	margin: 0px;
	padding: 0px 5px 0px 5px;
	font-weight: bold;
}

div#cmdline input {
	float: left;
	width: 95%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/* }}} */

/* Body {{{ */

div#body_scroll {
	width: 100%;
	height: 100%;
	float: left;
}

div#rootwin_body {
	font-family: bitstream vera sans mono, courier new;
}

/* }}} */

/* Menu {{{ */

div#root_menu, div.menu {
	position: absolute;
	top: 18px;
	left: 0px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}
div#root_menu {
	border-left: 0px;
}

div#local_menu {
	position: absolute;
	top: 18px;
	left: 18px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

div.menu_item {
	padding: 2px 10px 2px 10px;
}
div.menu_item:hover {
	background-color: #D0D0D0;
	cursor: pointer;
}

div.menu_sep {
	background-color: #000000;
	height: 1px;
	overflow: hidden;
}

/* }}} */

/* Darkener {{{ */

div#darkener {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 10;
	opacity: .5;
	filter: alpha(opacity=50);
	background-color: #000000;
}

/* }}} */

/* Dialog {{{ */

div.dialog {
	position: absolute;
	display: none;
	z-index: 11;
	border: 2px solid #000000;
	background-color: #FFFFFF;
	padding: 10px;
}

table.dialog {
}

td.dialogTitle {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	padding-bottom: 6px;
	border-bottom: 1px solid #000000;
}

td.dialogSpacer, td.dialogErrorSpacer {
	padding: 3px;
	margin: 0px;
}

td.dialogError {
	text-align: center;
	color: #FF0000;
	font-size: 1em;
	font-weight: bold;
	border-bottom: 1px solid #000000;
	padding-bottom: 6px;
}

td.dialogLabel {
	font-weight: bold;
	padding: 3px;
	padding-right: 5px;
}

td.dialogInput {
	padding: 3px;
}

td.dialogSubmitRow {
	padding: 3px;
}

/* }}} */

/* Window {{{ */
/* }}} */

/*vim:foldmethod=marker
*/
