/*
 * Conqsh - note module - main.css
 *
 * Stores the style information for the note module.
 *
 * Author: Brad Cable
 * Email: brad@bcable.net
 * License: Modified BSD
 * License Details:
 * http://bcable.net/license.php
 *
 */

textarea.note_textarea {
	width: 100%;
	height: 100%;
	border: 0px;
}
