/*
 * Conqsh - note module - main.css
 *
 * Stores the style information for the note module.
 *
 * Author: Brad Cable
 * Email: brad@bcable.net
 * License: MIT
 *
 */

textarea.note_textarea {
	width: 100%;
	height: 100%;
	border: 0px;
}
